# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Environment files
.env

# Audio / temp files
*.wav
*.mp3

# Local transcripts
transcript.txt